<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Sentiment Analyzer
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input id="textInput" type="text" name="textInput"  placeholder="Insert URL here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p id="scoreTag"></p>
                    <p id="agreement"></p>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>By Cecilia Parrish, API by <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/examples" target=blank>Meaning Cloud</a></p>
        </footer>


        <script>
            if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {  navigator.serviceWorker.register('/service-worker.js')
            .then(registration =>{
                  console.log('SW registered successfuly: ', registration); });
            });
             }else{
              console.log("Service Working not supported");
                }
        </script>


    </body>
</html>






