<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
    </head>

    <body>

        <header>
            <div class="">
                Sentiment Analyzer
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input id="textInput" type="text" name="textInput" value="" placeholder="Insert URL here">
                    <input type="submit" name="" value="submit" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>By Cecilia Parrish, API by <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/examples" target=blank>Meaning Cloud</a></p>
        </footer>

    </body>
</html>


<!-- onclick="return handleSubmit(event)" -->